<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class=" text-center">
            <h1> สร้างสินค้าชิ้นใหม่ </h1>
           
            <button (click)="NEWPROclicked()"> Create New Products</button>
            <div *ngIf="NEWPRO === true" >
                <productCreate-component></productCreate-component>
            </div>
            
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class=" text-center">
            <h1> แก้ไขรายการสินค้า </h1>
           
            <button (click)="UPDATEPROclicked()">
                <p *ngIf="UPDATEPRO === false" class="text-center" >
                     ซ่อนสินค้า
                </p> 
                <p *ngIf="UPDATEPRO === true" class="text-center" >
                     ดูสินค้า
               </p> 
                
            </button>
            <div *ngIf="UPDATEPRO === false" >
                <productsList-component></productsList-component>
            </div>
            
           

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class=" text-center">
            <h1> ค้นหาสินค้า </h1>
           
            <button (click)="SEARCHPROclicked()"> Search Products</button>
            <div *ngIf="SEARCHPRO === true" >
                <productbyid-component></productbyid-component>
            </div>
            
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class=" text-center">
            <h1> ลบสินค้า </h1>
           
            <!-- <button routerLink="../createproducts"> Create New Products</button> -->
            <button (click)="DELETEPROclicked()"> Delete Products</button>
            <div *ngIf="DELETEPRO === true" >
                <productDelete-component></productDelete-component>
            </div>
            
        </div>
    </mat-grid-tile>
  </mat-grid-list>