<form (submit)="onSubmit()" class="mt-4">
  <div class="container">
    
    <div class="row">
      <div class="col">
        <label>ID</label>
        <input type="text" class="form-control" [value]="product.id" name="id" disabled />
      </div>
    </div>
    
    <div class="row my-3">
      <div class="col">
        <label>Name</label>
        <input type="text" class="form-control" [value]="product.name" name="name" #nameInput
          (input)="product.name = nameInput.value" />
      </div>
      <div class="col">
        <label>Description</label>
        <input type="text" class="form-control" [value]="product.description" name="description" #descriptionInput
          (input)="product.description = descriptionInput.value" />
      </div>
    </div>
    
    <div class="row my-3">
      <div class="col">
        <label>Product Category</label>
        <select class="form-control" [(ngModel)]="product.categoryId" name="categoryId" required>
          <option *ngFor="let category of category" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="col">
        <label>Stock Quantity</label>
        <input type="number" class="form-control" [value]="product.stockQuantity" name="stockQuantity" #stockQuantityInput
          (input)="product.stockQuantity = stockQuantityInput.valueAsNumber" />
      </div>
      <div class="col">
        <label>Price</label>
        <input type="text" class="form-control" [value]="product.price" name="price" #priceInput
          (input)="product.price = priceInput.valueAsNumber" />
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <label>Created Date</label>
        <input type="datetime" class="form-control" [value]="product.createDate" name="createDate" disabled />
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Edit Product</button>
  </div>
</form>