<form (submit)="onSubmit()">
    <div>
      <label> Product name : </label>
            <input type="text" [(ngModel)]="products.name" name="name" required>
    </div>
    <div>
      <label> Product description : </label>
            <input type="text" [(ngModel)]="products.description" name="description">
    </div>
    <div>
      <label> Product categoryId : </label>
            <select type="number" [(ngModel)]="products.categoryId" name="categoryId" required>
              <!-- <option *ngFor="let category in Product.categoryId" [value]="Product.categoryId">{{ category.name }}</option> -->
              <option *ngFor="let item of category" [value]="item.id"> {{item.id}} {{ item.name }}  </option>
            </select>
    </div>
   
    <div>
      <label> Product stockQuantity : </label>
            <input type="number" [(ngModel)]="products.stockQuantity" name="stockQuantity" required>
    </div>

    <div>
      <label> Product price : </label>
            <input type="number" [(ngModel)]="products.price" name="price" required>
    </div>
    <button  type="submit" >Submit</button>
  </form>