<table>
    <thead>
        <tr>
            <th>
                Book ID
            </th>
            <th>
                Book Title
            </th>
            <th>
                Book price
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let products of Allproduct">
        <td>
            {{products.id}}
        </td>
        <td>
            {{products.name}}
        </td>
        <td>
            {{products.description}}
        </td>
        <td>
            <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['updatebook/:', products.id]"
            >แก้ไขหนังสือเล่มนี้</a
          >
        </td>
        </tr>
    </tbody>
</table>




